[submodule "themes/nord"]
	path = themes/nord
	url = https://github.com/youvann/hugo-theme-nord
[submodule "public"]
	path = public
	url = ssh://git@github.com/youvann/youvann.github.io.git
	branch = master
